In [2]:
import pandas as pd
import matplotlib as plt
import matplotlib.pyplot as plt

In [3]:
# Read the CSV file into a DataFrame
AQI_21_df = pd.read_csv("../Documents/daily_aqi_by_county_2021.csv")

# Display the first few rows of the DataFrame
AQI_21_df.head()

,State Name,county Name,State Code,County Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting
0,Alabama,Baldwin,1,3,2021-01-01,27,Good,PM2.5,01-003-0010,1
1,Alabama,Baldwin,1,3,2021-01-07,24,Good,PM2.5,01-003-0010,1
2,Alabama,Baldwin,1,3,2021-01-13,46,Good,PM2.5,01-003-0010,1
3,Alabama,Baldwin,1,3,2021-01-16,21,Good,PM2.5,01-003-0010,1
4,Alabama,Baldwin,1,3,2021-01-19,52,Moderate,PM2.5,01-003-0010,1

In [4]:
NJ_aqi = AQI_21_df.loc[AQI_21_df['State Name'] == 'New Jersey']

# Display the filtered DataFrame
NJ_aqi

,State Name,county Name,State Code,County Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting
171410,New Jersey,Atlantic,34,1,2021-01-01,27,Good,Ozone,34-001-0006,1
171411,New Jersey,Atlantic,34,1,2021-01-02,20,Good,Ozone,34-001-0006,1
171412,New Jersey,Atlantic,34,1,2021-01-03,25,Good,Ozone,34-001-0006,1
171413,New Jersey,Atlantic,34,1,2021-01-04,19,Good,PM2.5,34-001-0006,1
171414,New Jersey,Atlantic,34,1,2021-01-05,21,Good,PM2.5,34-001-0006,1
...,...,...,...,...,...,...,...,...,...,...
176940,New Jersey,Warren,34,41,2021-12-27,24,Good,NO2,34-041-0007,1
176941,New Jersey,Warren,34,41,2021-12-28,43,Good,PM2.5,34-041-0007,1
176942,New Jersey,Warren,34,41,2021-12-29,60,Moderate,PM2.5,34-041-0007,1
176943,New Jersey,Warren,34,41,2021-12-30,69,Moderate,PM2.5,34-041-0007,1
176944,New Jersey,Warren,34,41,2021-12-31,52,Moderate,PM2.5,34-041-0007,1

In [5]:
NJ_aqi.dropna()
NJ_aqi.head()

,State Name,county Name,State Code,County Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting
171410,New Jersey,Atlantic,34,1,2021-01-01,27,Good,Ozone,34-001-0006,1
171411,New Jersey,Atlantic,34,1,2021-01-02,20,Good,Ozone,34-001-0006,1
171412,New Jersey,Atlantic,34,1,2021-01-03,25,Good,Ozone,34-001-0006,1
171413,New Jersey,Atlantic,34,1,2021-01-04,19,Good,PM2.5,34-001-0006,1
171414,New Jersey,Atlantic,34,1,2021-01-05,21,Good,PM2.5,34-001-0006,1

In [6]:
#NJ_aqi.nlargest(10, 'AQI')
#NJ_aqi.nsmallest(10, 'AQI')

In [9]:
average_AQI_by_county = NJ_aqi.groupby(by="county Name")['AQI'].mean()

print(f'{average_AQI_by_county} Average AQI')

county Name
Atlantic      36.997238
Bergen        41.975342
Camden        45.402740
Cumberland    38.384615
Essex         41.849315
Gloucester    39.632997
Hudson        42.490411
Hunterdon     40.126374
Mercer        45.419178
Middlesex     42.010989
Monmouth      39.674510
Morris        37.066116
Ocean         39.577031
Passaic       36.597701
Union         43.890411
Warren        38.446927
Name: AQI, dtype: float64 Average AQI

In [ ]:
x_values = "county Name"
y_values = average_AQI_by_county